/* Homepage Styles */
.container {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.ad-space {
    width: 15%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.ad-space::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.ad-space p {
    color: white;
    font-weight: 600;
    z-index: 1;
}

.main-content {
    width: 80%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/ingredients.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.main-content::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.452);
    z-index: 1;
}

.main-content > * {
    position: relative;
    z-index: 2;
}
